@import 'src/styles/colors.scss';
@import 'src/styles/fonts.scss';

.calculatorButton {
    width: 97%;
    margin: 0 auto;
    height: 75px;
    font-size: 25px;
    font-family: $calculatorFont;
    color: $buttonTextColor;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: $buttonBackground;
    transition: background-color .2s ease-out;

    &:hover {
        cursor: pointer;
        background-color: darken($buttonBackground, 10);
    }

    &.operator {
        background-color: $operationButtonBackground;

        &:hover {
            background-color: darken($operationButtonBackground, 10);
        }
    }

    &.result {
        background-color: $resultButtonBackground;

        &:hover {
            background-color: darken($resultButtonBackground, 10);
        }
    }
}