.displayContainer {
  border: 1px solid;
}

.input {
  width: 100%;
  border-color: #eee;
  border: 1px solid;
  border-radius: 0.2em;
  outline: none;
  text-align: left;
  padding: 10px;
  font-size: 32px;
  letter-spacing: 00.1rem;
}

.result {
  width: 100%;
  height: 20px;
  border-color: #eee;
  text-align: left;
  padding: 10px;
  font-size: 32px;
}